Source: xorg-novena
Section: admin
Priority: optional
Maintainer: Jookia <contact@jookia.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/novena-next/xorg-novena
Vcs-Git: git://github.com/novena-next/xorg-novena.git
Vcs-Browser: https://github.com/novena-next/xorg-novena

Package: xorg-novena
Architecture: all
Depends: ${misc:Depends},
	xserver-xorg-video-armada-etnadrm,
	xserver-xorg-video-armada-etnaviv,
	xserver-xorg-video-armada
Description: Configuration files for Xorg on Novena
 Novena has some special Xorg requirements.  Mostly, using a SW cursor.
